<div class="sign_up_page">

  <div class="sign_up_text">
    
    <h2 class="title">formulaire_stylay</h2>
    <h4 class="subtitle">L'inscription devient plus stylay</h4>

    <p class="line">________</p><br />

    <ul>
      <li>Un CSS des familles, qui fait toujours plaisir</li>
      <li>Avec un formulaire un peu bégé</li>
      <li>Et une petite database behind</li>
    </ul>

  </div>

  <div class="sign_up_form">

    <h4>Créer un compte</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation du mot de passe" %>
      </div>

    <% end %>

    <%= button_to "Log in", new_session_path(resource_name) %>

  </div>

</div>
